---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Mi porfolio - Fran Abad" description='Porfolio de Fran Abad Mederos - Desarrollador web y programador'>
	<main>
	</main>
</Layout>
