---
import Header from '../components/Header.astro';

interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-black dark:text-white">
    <div class="absolute top-0 z-[-2] h-screen w-screen bg-[radial-gradient(ellipse_40%_50%_at_50%_60%,rgba(10,10,20,1),rgba(3,3,6,1))]"></div>
    <Header />
		<slot />
	</body>
</html>
<style is:global>
    :root {
    color-scheme: light dark;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-size: 224px;
    scroll-behavior: smooth;
	}
</style>


